.passage {
  max-width: $main-width;
  margin: 20px auto;

  &-article {
    font-size: 16px;
    font-family: Lato, Helvetica Neue For Number, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, PingFang SC, Hiragino Sans GB, Microsoft YaHei, Helvetica Neue, Helvetica, Arial, sans-serif;
    line-height: 2;
    letter-spacing: 0.2px;
    word-break: break-word;

    h1, h2, h3, h4, h5, h6 {
      position: relative;
      font-weight: 600;
      margin: 15px 0;

      a {
        padding-left: 5px;
        transition: all .15s linear;
      }

      &::before {
        font-size: 0.8em;
        content: "\f0c1";
        color: $color-deep-orange-6;
        font-family: FontAwesome;
      }

      &:hover {
        a {
          padding-left: 10px;
        }

        &::before {
          color: $color-blue-5;
        }
      }
    }

    h1 {
      font-size: 2em;
      margin: 16px 0;
    }

    h2 {
      font-size: 1.75em;
    }

    h3 {
      font-size: 1.5em;
    }

    h4 {
      font-size: 1.25em;
    }

    h5 {
      font-size: 1.125em;
    }

    h6 {
      font-size: 1em;
    }

    p {
      margin: 12px 0;
    }

    blockquote {
      margin: 15px 0;
      padding: 1px 12px;
      border-left: 3px solid $color-grey-6;
      color: $color-grey-8;
      background: $color-grey-1;
    }

    a {
      display: inline-block;
      position: relative;
      color: $color-deep-orange-6;
      font-weight: bolder;

      &::before {
        content: "";
        position: absolute;
        width: 0;
        right: 0;
        bottom: 0;
        height: 2px;
        background: $color-blue-5;
        transition: all 0.3s ease;
      }

      &:hover {
        color: $color-blue-5;

        &::before {
          width: 100%;
          left: 0;
          right: auto;
        }
      }
    }

    code {
      font-family: "Consolas", "Microsoft Jhenghei", "Hiragino Sans GB", "Microsoft YaHei";
      padding: 4px 6px;
      background: $color-grey-2;
      color: $color-deep-orange-8;
      word-wrap: break-word;
    }

    img {
      display: block;
      margin: 0 auto;
      max-width: 90%;
      border-radius: 5px;
      cursor: zoom-in;
      transition: all .3s linear;

      &:hover {
        box-shadow: 0 0 3px $color-grey-5;
      }
    }
  
    ol, ul {
      margin: 0 0 16px;
      padding-left: 1.2em;

      ol {
        list-style-type: lower-roman;
      }
    }

    & > table {
      width: 100%;
      border-collapse: collapse;
      text-align: left;
      border-left: 1px solid $color-grey-2;
      border-right: 1px solid $color-grey-2;
      border-radius: 4px 4px 0 0;
      margin: 16px 0;

      thead {
        background: $color-grey-1;

        th {
          padding: 16px;
          border-bottom: 1px solid $color-grey-2;
        }
      }

      tbody {
        tr {
          transition: all .3s ease;

          &:hover {
            background: $color-light-blue-0;
          }

          td {
            padding: 16px;
            border-bottom: 1px solid $color-grey-2;
          }
        }
      }
    }
  }

  &-title {
    font-size: 36px;
    line-height: 42px;
    margin: 25px 0 40px;

    @media screen and (max-width: $mobile-width) {
      font-size: 30px;
      margin-bottom: 25px;
    }
  }

  &-cover {
    display: block;
    width: 100%;
    position: relative;
    padding-bottom: 50%;
    margin-bottom: 40px;

    @media screen and (max-width: $mobile-width) {
      display: none;
    }

    figure {
      position: absolute;
      left: 0px;
      top: 0px;
      right: 0px;
      bottom: 0px;
      overflow: hidden;
      border-radius: 10px;
      background-position: 50% 50%;
      background-size: contain;
      background-repeat: no-repeat;
      background-attachment: fixed;
    }
  }

  &-copyright {
    border-left: 3px solid $color-deep-orange-5;
    background: $color-grey-2;
    padding: 15px 20px;
    margin-top: 30px;

    div {
      line-height: 2;
    }

    a {
      transition: all .1s linear;
      &:hover {
        color: $color-deep-orange-6;
      }
    }
  }

  &-meta {
    font-size: 16px;
    color: $color-grey-7;

    a {
      color: $color-grey-7;
      transition: all .2s;

      &:hover {
        color: $color-grey-9;
      }
    }

    i {
      display: inline-block;
      margin-right: 5px;
    }
  }

  &-tags {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-top: 20px;
    padding-top: 20px;
    font-size: 15px;
    border-top: 1px solid $color-grey-2;

    a {
      display: inline-flex;
      margin: 0 15px 15px 0;
      align-items: center;
      height: 30px;
      padding: 5px 10px;
      background: $color-grey-2;
      border: 1px solid $color-grey-2;
      border-radius: 3px;
      transition: all .15s linear;

      i {
        display: inline-block;
        margin-right: 5px;
      }

      &:hover {
        color: $color-blue-5;
        border-color: $color-blue-5;
      }
    }
  }
}