.post {
  max-width: 960px;
  margin: 0 auto;

  &-article {
    font-size: 16px;
    font-family: Lato, Helvetica Neue For Number, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, PingFang SC, Hiragino Sans GB, Microsoft YaHei, Helvetica Neue, Helvetica, Arial, sans-serif;
    line-height: 2;
    letter-spacing: 0.2px;

    h1, h2, h3, h4, h5, h6 {
      position: relative;
      font-weight: 600;
      margin: 15px 0;

      a {
        padding-left: 5px;
        transition: all .15s linear;
      }

      &::before {
        font-size: 0.8em;
        content: "\f0c1";
        color: $color-deep-orange-6;
        font-family: FontAwesome;
      }

      &:hover {
        a {
          padding-left: 10px;
        }

        &::before {
          color: $color-blue-5;
        }
      }
    }

    h1 {
      font-size: 32px;
      margin: 16px 0;
    }

    h2 {
      font-size: 24px;
    }

    h3 {
      font-size: 22px;
    }

    h4 {
      font-size: 20px;
    }

    h5 {
      font-size: 18px;
    }

    h6 {
      font-size: 16px;
    }

    p {
      margin: 12px 0;
    }

    blockquote {
      margin: 10px 0;
      padding: 1px 12px;
      border-left: 3px solid $color-grey-6;
      color: $color-grey-8;
      background: $color-grey-1;
    }

    a {
      display: inline-block;
      position: relative;
      color: $color-deep-orange-6;
      font-weight: bolder;

      &::before {
        content: "";
        position: absolute;
        width: 0;
        right: 0;
        bottom: 0;
        height: 2px;
        background: $color-blue-5;
        transition: all 0.3s ease;
      }

      &:hover {
        color: $color-blue-5;

        &::before {
          width: 100%;
          left: 0;
          right: auto;
        }
      }
    }

    code {
      font-family: "Consolas", "Microsoft Jhenghei", "Hiragino Sans GB", "Microsoft YaHei";
      padding: 4px 6px;
      background: $color-grey-2;
      color: $color-deep-orange-8;
      word-wrap: break-word;
    }

    img {
      display: inline-block;
      width: 100%;
      border-radius: 10px;
      border: 1px solid $color-grey-2;
      cursor: pointer;
      transition: all .3s linear;

      &:hover {
        box-shadow: 0 0 3px $color-grey-5;
      }
    }
  
    ol, ul {
      margin: 0 0 16px;
      padding-left: 1.2em;

      ol {
        list-style-type: lower-roman;
      }
    }

    & > table {
      width: 100%;
      border-collapse: collapse;
      text-align: left;
      border-left: 1px solid $color-grey-2;
      border-right: 1px solid $color-grey-2;
      border-radius: 4px 4px 0 0;
      margin: 16px 0;

      thead {
        background: $color-grey-1;

        th {
          padding: 16px;
          border-bottom: 1px solid $color-grey-2;
        }
      }

      tbody {
        tr {
          transition: all .3s ease;

          &:hover {
            background: $color-light-blue-0;
          }

          td {
            padding: 16px;
            border-bottom: 1px solid $color-grey-2;
          }
        }
      }
    }
  }
}