<div class="about">
  <h1 class="passage-title">
    <%- page.title || '关于我' %>
  </h1>
  <article class="passage-article">
    <%- page.content %>
  </article>
  <%- partial('components/toc') %>
</div>