<div class="home">
  <a class="home-article-wrapper" href="http://baidu.com">
    <div class="home-article">
      <h1 class="home-article-title">19 web design trends for 2018</h1>
      <div class="home-article-content">
        Discover the web design trends, techniques, 
        and tools that will define website and 
        digital product design in 2018 — and beyond.
      </div>
    </div>
    <div class="home-article-cover">
      <img src="https://uploads-ssl.webflow.com/583347ca8f6c7ee058111b55/5ab3ecc5571b8a2f94ab5087_2018-illustration-trends.png">
    </div>
  </a>
</div>