<div class="bottom-bar">
  <div class="bottom-bar-left">
    <span>
      <i class="fa fa-arrow-left"></i>
    </span>
    <span>
      <i class="fa fa-arrow-right"></i>
    </span>
  </div>
  <div class="bottom-bar-right">
    <span>
      <i class="fa fa-bars"></i>
    </span>
    <span>
      <i class="fa fa-commenting"></i>
    </span>
    <span>
      <i class="fa fa-thumbs-up"></i>
    </span>
    <span>
      <i class="fa fa-chevron-up"></i>
    </span>
  </div>
</div>