<%
  function getPsgID(pathname) {
    let names = pathname.split('/');
    for(let i = names.length - 1; i >= 0; --i) {
      let name = names[i].trim();
      if(name.length > 0 && name !== '/' && name !== 'index.html') {
        return name;
      }
    }
    return '/';
  }

  let plateform = '';
  if(theme.leancloud.comment) {
    plateform = 'leancloud'
  } else if (theme.disqus.enable) {
    plateform = 'disqus'
  }
%>
<div class="site-comment-contanier" data-plateform="<%= plateform %>">
  <% if(theme.leancloud.comment){ %>
    <p id="site-comment-info">
      <i class="fa fa-spinner fa-spin"></i> 评论加载中
    </p>
    <div id="site-comment"></div>
  <% } else if(theme.disqus.enable){ %>
    <p id="site-comment-info">
      <i class="fa fa-warning" style="color: #FB8C00"></i> 请针对 Disqus 开启代理 
    </p>
    <div id="disqus_thread"></div>
    <script async>
      var disqus_config = function() {
        this.page.url = `${window.location.origin}${window.location.pathname}`;
        this.page.identifier = "<%- getPsgID(url_for(page.path)) %>";
      };
      (function() {
        var d = document, s = d.createElement('script');
        s.src = 'https://<%= theme.disqus.id %>.disqus.com/embed.js';
        s.setAttribute('data-timestamp', +new Date());
        (d.head || d.body).appendChild(s);
      })();
    </script>
  <% } %>
</div>