<div class="share-btn">
  <span class="share-btn-twitter">
    <i class="fa fa-twitter"></i>
  </span>
  <span class="share-btn-google">
    <i class="fa fa-google"></i>
  </span>
  <span class="share-btn-weibo">
    <i class="fa fa-weibo"></i>
  </span>
  <span class="share-btn-qq">
    <i class="fa fa-qq"></i>
  </span>
  <span class="share-btn-wechat">
    <i class="fa fa-wechat"></i>
  </span>
</div>