<div id="share-btn">
  <% if(theme.share.twitter === true) { %>
    <a id="share-btn-twitter" href="javascript:void(0);" target="_blank">
      <i class="fa fa-twitter"></i>
    </a>
  <% } %>
  <% if(theme.share.facebook === true) { %>
    <a id="share-btn-facebook" href="javascript:void(0);" target="_blank">
      <i class="fa fa-facebook"></i>
    </a>
  <% } %>
  <% if(theme.share.weibo === true) { %>
    <a id="share-btn-weibo" href="javascript:void(0);" target="_blank">
      <i class="fa fa-weibo"></i>
    </a>
  <% } %>
  <% if(theme.share.qq === true) { %>
    <a id="share-btn-qq" href="javascript:void(0);" target="_blank">
      <i class="fa fa-qq"></i>
    </a>
  <% } %>
  <% if(theme.share.wechat === true) { %>
    <a id="share-btn-wechat" href="javascript:void(0);" target="_blank">
      <i class="fa fa-wechat"></i>
    </a>
  <% } %>
</div>