.site-header {
  display: flex;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: $header-height;
  border-bottom: $color-grey-0 solid $header-bottom-size;
  padding-left: 10px;
  background: $color-grey-0;
  z-index: 300;
  
  @media screen and (min-width: $mobile-width + 1) {
    border-bottom: transparent solid 2px;
    box-shadow: 0 2px 2px $color-blue-grey-0;
  }

  @media screen and (max-width: $mobile-width) {
    background: $color-grey-1;
  }
  
  &-brand, &-right {
    display: flex;
    align-items: center;
  }

  &-brand {
    &-title {
      font-weight: bold;
      font-size: 24px;

      @media screen and (max-width: $mobile-width) {
        font-size: 22px;
      }
    }
    
    &-motto {
      display: inline-block;
      margin-left: 5px;
      font-size: 14px;
      color: $color-grey-7;
    }
  }

  &-right {
    justify-content: flex-end;
  }

  &-navigation {
    font-size: 16px;
    padding-left: 10px;
    display: flex;
    align-items: center;
    overflow: auto;

    @media screen and (max-width: $mobile-width) {
      display: none;
    }

    a {
      margin-right: 15px;
      color: $color-grey-5;
      display: block;
      transition: all .3s linear;

      &:hover {
        color: $color-grey-7;
      }
    }
  }

  &-btn {
    font-size: 18px;
    display: flex;
    justify-content: flex-end;

    a {
      display: inline-block;
      text-align: center;
      height: $header-height - $header-bottom-size;
      line-height: $header-height - $header-bottom-size;
      cursor: pointer;

      @media screen and (min-width: $mobile-width + 1px) {
        width: $header-height - $header-bottom-size;

        &#site-github {
          background: $color-light-blue-3;
        }

        &#site-search {
          background: $color-light-blue-5;
        }

        &#site-nav-btn {
          display: none;
        }

        i {
          color: white;
        }
      }

      @media screen and (max-width: $mobile-width) {
        &#site-github {
          display: none;
        }

        i {
          padding: 0 20px 0 10px;
          color: $color-grey-7;
        }
      }
    }
  }
}

// Use TOC Style and change something
#site-nav {
  $nav-width: 200px !default;
  z-index: 900;
  right: -$nav-width;
  width: $nav-width;

  .table-content-main {
    padding-left: 0;

    li {
      text-align: center;
      a {
        border-left: 0;

        &:hover {
          padding-left: 0;
        }
      }
    }
  }
}

#site-process {
  position: fixed;
  left: 0;
  top: $header-height - $header-bottom-size;
  height: $header-bottom-size;
  width: 0;
  background: $color-blue-4;
  z-index: 300;
}