<footer class="site-footer">
  <div class="site-footer-col">
    <h5 class="site-footer-title">友链</h5>
    <span class="site-footer-item">
      <a href="https://webflow.com/playlist/popular" target="_blank">Popular</a>
    </span>
    <span class="site-footer-item">
      <a href="https://webflow.com/playlist/popular" target="_blank">New</a>
    </span>
    <span class="site-footer-item">
      <a href="https://webflow.com/playlist/popular" target="_blank">Design</a>
    </span>
  </div>
  <div class="site-footer-col">
    <h5 class="site-footer-title">友链</h5>
    <span class="site-footer-item">
      <a href="https://webflow.com/playlist/popular" target="_blank">Popular</a>
    </span>
    <span class="site-footer-item">
      <a href="https://webflow.com/playlist/popular" target="_blank">New</a>
    </span>
    <span class="site-footer-item">
      <a href="https://webflow.com/playlist/popular" target="_blank">Design</a>
    </span>
  </div>
  <div class="site-footer-col">
    <h5 class="site-footer-title">友链</h5>
    <span class="site-footer-item">
      <a href="https://webflow.com/playlist/popular" target="_blank">Popular</a>
    </span>
    <span class="site-footer-item">
      <a href="https://webflow.com/playlist/popular" target="_blank">New</a>
    </span>
    <span class="site-footer-item">
      <a href="https://webflow.com/playlist/popular" target="_blank">Design</a>
    </span>
  </div>
  <div class="site-footer-col">
    <h5 class="site-footer-title">友链</h5>
    <span class="site-footer-item">
      <a href="https://webflow.com/playlist/popular" target="_blank">Popular</a>
    </span>
    <span class="site-footer-item">
      <a href="https://webflow.com/playlist/popular" target="_blank">New</a>
    </span>
    <span class="site-footer-item">
      <a href="https://webflow.com/playlist/popular" target="_blank">Design</a>
    </span>
  </div>
  <div  class="site-footer-info">
    © 2019 Webflow, Inc. All rights reserved.
  </div>
</footer>