<div class="site-footer-wrapper">
  <footer class="site-footer">
    <div class="site-footer-col">
      <h5 class="site-footer-title">友链</h5>
      <span class="site-footer-item">
        <a href="https://webflow.com/playlist/popular" target="_blank">Popular</a>
      </span>
      <span class="site-footer-item">
        <a href="https://webflow.com/playlist/popular" target="_blank">New</a>
      </span>
      <span class="site-footer-item">
        <a href="https://webflow.com/playlist/popular" target="_blank">Design</a>
      </span>
    </div>
    <div class="site-footer-col">
      <h5 class="site-footer-title">友链</h5>
      <span class="site-footer-item">
        <a href="https://webflow.com/playlist/popular" target="_blank">Popular</a>
      </span>
      <span class="site-footer-item">
        <a href="https://webflow.com/playlist/popular" target="_blank">New</a>
      </span>
      <span class="site-footer-item">
        <a href="https://webflow.com/playlist/popular" target="_blank">Design</a>
      </span>
    </div>
    <div class="site-footer-col">
      <h5 class="site-footer-title">友链</h5>
      <span class="site-footer-item">
        <a href="https://webflow.com/playlist/popular" target="_blank">Popular</a>
      </span>
      <span class="site-footer-item">
        <a href="https://webflow.com/playlist/popular" target="_blank">New</a>
      </span>
      <span class="site-footer-item">
        <a href="https://webflow.com/playlist/popular" target="_blank">Design</a>
      </span>
    </div>
    <div class="site-footer-col">
      <h5 class="site-footer-title">友链</h5>
      <span class="site-footer-item">
        <a href="https://webflow.com/playlist/popular" target="_blank">Popular</a>
      </span>
      <span class="site-footer-item">
        <a href="https://webflow.com/playlist/popular" target="_blank">New</a>
      </span>
      <span class="site-footer-item">
        <a href="https://webflow.com/playlist/popular" target="_blank">Design</a>
      </span>
    </div>
    <div class="site-footer-info">
      <i class="fa fa-clock-o"></i> 本站已稳定运行<span id="site-time"></span>
    </div>
    <% if(theme.leancloud.count === true) { %>
      <div class="site-footer-info">
        <i class="fa fa-paw"></i> 您是本站第 <span id="site-count"></span> 位访客
      </div>
    <% } %>
    <div class="site-footer-info">
      <i class="fa fa-copyright"></i> 2019 Webflow, Inc. All rights reserved.
    </div>
  </footer>
</div>