<header class="site-header">
  <div class="site-header-brand">
    <span class="site-header-brand-title"> GODBMW </span>
    <span class="site-header-brand-motto"> | STEP BY STEP</span>
  </div>
  <div class="site-header-right">
    <nav class="site-header-navigation">
      
    </nav>
    <div class="site-header-btn">
      
    </div>
  </div>
</header>